# fastapi
# uvicorn
# PyPDF2
# sentence-transformers
# transformers
# langchain-community
# streamlit
# python-dotenv
# faiss-cpu
# requests



fastapi
pydantic
PyPDF2
langchain
langchain_community
requests
streamlit


