html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
}

.title {
    margin: 20px;
    font-size: 2em;
    text-align: center;
    color: #007bff;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.chat-container {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    max-width: 800px;
    height: calc(100vh - 150px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
}

.sample-prompts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    font-size: 12px;
            
}

.sample-prompt {
    background-color: #e0e0e0;
    color: #333;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    text-align: center;
    box-sizing: border-box; /* Ensure padding is included in width */
    flex: 1 1 30%; /* Flex-grow, flex-shrink, flex-basis */
    transition: background-color 0.3s;
    height: 60px; /* Set fixed height */
}

.sample-prompt:hover {
    background-color: #d4d4d4;
}

.user-query {
    background-color: #fff3cd;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    color: #856404;
    align-self: flex-start;
}

.bot-message {
    background-color: #cce5ff;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    color: #004085;
    align-self: flex-end;
}

.input-container {
    width: 70%;
    max-width: 800px;
    padding: 0 20px;
    position: fixed;
    bottom: 20px;
    z-index: 10;
}

.input-group .form-control {
    border-radius: 30px 0 0 30px;
}

.input-group .input-group-append .btn {
    border-radius: 0 30px 30px 0;
}

.input-group .input-group-append .btn i {
    font-size: 1.2em;
}

.sync-btn {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #878d95;
    color: white;
    cursor: pointer;
}

.sync-btn:hover {
    background-color: #5a5e63;
}
